.bg-gradient-very-light-gray {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

header .navbar-brand img {
    max-height: 80px !important;
}

.footer-demo img {
    max-height: 100% !important;
}
@media only screen and (max-width: 600px) {

    .mbl-banner img {
        max-width: 100% !important;
    }

    .mbl-banner-text {
        text-align: center !important;
    }

    .elements-social {
        text-align: center !important;
    }
}
.navbar.bg-transparent,
.navbar-modern-inner.bg-transparent,
.navbar-full-screen-menu-inner.bg-transparent {
    background-color: transparent !important;
}

