<header class="header-with-topbar">
  <nav
    class="pt-10px pb-10px navbar navbar-expand-lg header-light bg-transparent disable-fixed border-bottom border-color-transparent-dark-very-light">
    <div class="container-fluid" style="justify-content: center;">
      <div class="col-auto xs-m-auto">
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="default-logo">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="alt-logo">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="mobile-logo">
        </a>
      </div>

      <div class="col-auto ms-auto xs-m-auto d-sm-flex">
        <div class="header-icon">
          <div class="d-xl-inline-block">
            <div class="alt-font fw-600"><a
                href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                target="_blank" class="widget-text text-black"><img src="assets/images/icons/whatsapp.png"> +91 99622
                10810</a>
            </div>
          </div>
          <div class="header-button ms-25px">
            <a href="/"
              class="btn bg-white xs-bg-black btn-round-edge text-dark-gray btn-large btn-switch-text d-table d-lg-inline-block lg-mb-15px md-mx-auto">
              <span>
                <span class="btn-double-text fs-20" data-text="Back to Home">Back to Home</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<section class="cover-background bg-gradient-very-light-gray" style="padding-top: 200px;">
  <div class="container h-100 pt-50px">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-12 col-xl-12 col-lg-12 col-md-12 text-center">
        <img src="assets/images/thankyou.png" width="200px" class="mb-30px">
        <h4 class="text-dark-gray fw-600 sm-fs-22 mb-10px ls-minus-1px">Thank you for your enquiry! </h4>
        <p class="mb-30px lh-28 sm-mb-30px w-55 md-w-80 sm-w-95 mx-auto">Our team will get back to you shortly with all
          the details.</p>
        <a href="home" class="btn btn-large left-icon btn-rounded btn-dark-gray btn-box-shadow text-transform-none"><i
            class="fa-solid fa-home"></i>Back to homepage</a>
      </div>
    </div>
  </div>
</section>

<footer class="footer-demo bg-dark-slate-blue pt-40px"
  style="background-image: url(assets/images/footer-bg.png);padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 md-mb-30px text-center text-lg-start">
        <a href="/" class="footer-logo"><img src="assets/images/logo-white.png" data-at2x="assets/images/logo-white.png"
            alt="" class="w-300px"></a>
        <p class="text-white fs-15 xs-w-100 w-80">Every brand starts with a spark. At God Particles, we turn that spark
          into a captivating digital story. With strategic SEO, compelling content, and engaging social media, we blend
          creativity and expertise to deliver results. </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mbl-banner-text">
        <span class="alt-font fs-14 fw-600 text-uppercase text-white ls-1px d-block mb-10px">Contact</span>
        <i class="fa-solid fa-envelope me-10px text-white"></i><a href="mailto:{{emailContact}}" class="text-white"> {{
          emailContact }}
        </a><br>
        <i class="fa-solid fa-phone me-10px text-white"></i><a href="tel:9962730810" class="text-white">+91 99627
          30810</a>
        <span class="alt-font fs-14 fw-600 text-uppercase text-white ls-1px d-block mb-10px">Other Contact</span>
        <i class="fa-solid fa-phone me-10px text-white"></i><a href="tel:9962710810" class="text-white">+91 99627
          10810</a>

      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin">
        <span class="d-block text-white mb-10px fw-500 elements-social mbl-banner-text">Connect with us</span>
        <div class="elements-social social-icon-style-09">
          <ul class="medium-icon light">
            <li><a class="facebook" href="https://www.facebook.com/GodParticlesOfficial" target="_blank"><i
                  class="fa-brands fa-facebook-f"></i><span></span></a></li>
            <li><a class="instagram" href="https://www.instagram.com/godparticles_official/" target="_blank"><i
                  class="fa-brands fa-instagram"></i><span></span></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/god-particles/posts/?feedView=all"
                target="_blank"><i class="fa-brands fa-linkedin"></i><span></span></a></li>
            <li><a class="whatsapp"
                href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                target="_blank"><i class="fa-brands fa-whatsapp"></i><span></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-10px mb-10px bg-gradient-very-light-gray w-80 h-6px left-0px bottom-0px" style="margin: auto;"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="fs-18 text-white mt-10px mb-10px">&copy; 2024 God Particles. All Rights Reserverd</p>
      </div>
    </div>
  </div>
</footer>

<!-- <h3 class="text-white fw-500 ls-minus-1px">We're Here for You </h3>
        <p class="text-white fw-700 fs-20 opacity-7 w-80">Connect with us for packaging that speaks</p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"
          class="contact-form row row-cols-1 row-cols-md-2 justify-content-center">
          <div class="col">
            <div class="position-relative form-group mb-10px">
              <input type="text" formControlName="name" class="form-control required" placeholder="Enter your name*" />
              <div class="error-message"
                *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
                Name is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="position-relative form-group mb-10px">
              <input type="tel" formControlName="phone" class="form-control required" placeholder="Enter your phone" />
              <div class="error-message"
                *ngIf="contactForm.get('phone')?.hasError('required') && contactForm.get('phone')?.touched">
                Phone No is required.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="position-relative form-group mb-10px">
              <input type="email" formControlName="email" class="form-control required"
                placeholder="Enter your email*" />
              <div class="error-message"
                *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">
                Email address is required.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="position-relative form-group mb-10px">
              <input type="text" formControlName="brand" class="form-control required"
                placeholder="Enter your Brand*" />
              <div class="error-message"
                *ngIf="contactForm.get('brand')?.hasError('required') && contactForm.get('brand')?.touched">
                Brand is required.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="position-relative form-group form-textarea">
              <button class="btn btn-medium btn-dark-gray btn-box-shadow btn-round-edge w-100 mt-20px" type="submit"
                [disabled]="contactForm.invalid">
                Submit
              </button>
              <div class="form-results mt-20px d-none"></div>
            </div>
          </div>
        </form> -->