<ngx-toastr></ngx-toastr>
<header class="header-with-topbar">
  <nav
    class="pt-10px pb-10px navbar navbar-expand-lg header-light bg-transparent disable-fixed border-bottom border-color-transparent-dark-very-light">
    <div class="container-fluid" style="justify-content: center;">
      <div class="col-auto xs-m-auto">
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="default-logo">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="alt-logo">
          <img src="assets/images/logo-dark.png" data-at2x="assets/images/logo-dark.png" alt="" class="mobile-logo">
        </a>
      </div>

      <div class="col-auto ms-auto xs-m-auto d-sm-flex">
        <div class="header-icon">
          <!-- <div class="d-xl-inline-block">
            <div class="alt-font fw-600"><a
                href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                target="_blank" class="widget-text text-black"><img src="assets/images/icons/whatsapp.png"> +91 99622
                10810</a>
            </div>
          </div> -->
          <div class="header-button ms-25px">
            <a (click)="contactform()"
              class="btn bg-white xs-bg-black btn-round-edge text-dark-gray btn-large btn-switch-text d-table d-lg-inline-block lg-mb-15px md-mx-auto">
              <span>
                <span class="btn-double-text fs-20" data-text="Enquiry Now">Enquiry Now</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


<section class="overflow-hidden position-relative bg-gradient-very-light-gray" style="padding-top: 200px;">
  <div class="container h-100">
    <div class="row align-items-center h-100 md-mt-50px">
      <div class="mbl-banner-text col-xl-6 col-lg-6 mb-9 position-relative z-index-1"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="alt-font fw-500 text-black fs-22">Tired of Blending In?
        </div>
        <h1 class="alt-font text-black fw-700 fs-65">Let’s Craft Package design That Shouts ‘Pick Me!’
        </h1>
        <a (click)="contactform()"
          class="btn bg-white btn-round-edge text-dark-gray btn-large btn-switch-text d-table d-lg-inline-block lg-mb-15px md-mx-auto">
          <span>
            <span class="btn-double-text fs-20" data-text="Enquiry Now">Enquiry Now</span>
          </span>
        </a>
      </div>
      <div class="mbl-banner col-xl-6 col-lg-6 mb-9 position-relative z-index-1">
        <div class="animation-float">
          <img src="assets/images/banner.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section -->


<section class="position-relative pb-70px pt-70px">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6"
        data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <img src="assets/images/banner-4.png" class="" alt="">
      </div>
      <div class="col-xl-6 col-lg-6"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h2 class="xs-mt-20px xs-mb-20px fw-700 alt-font fs-50 text-dark-gray">Package design that <span
            class="text-highlight">Performs!<span class="bg-base-color opacity-3 h-10px bottom-10px"></span></span></h2>
        <p class="text-dark-gray">Is your brand getting lost in a crowded market?<br>At God Particles, we craft
          packaging
          that not only looks amazing but also tells your brand’s story. Our designs boost visibility, drive sales, and
          create lasting connections with customers. Ready to transform your packaging into a powerful marketing tool?
        </p>
        <a (click)="contactform()"
          class="btn bg-black btn-round-edge text-white btn-large btn-switch-text d-table d-lg-inline-block lg-mb-15px md-mx-auto">
          <span>
            <span class="btn-double-text fs-20" data-text="Enquiry Now">Enquiry Now</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- about section -->


<section class="pb-70px pt-70px">
  <div class="container">
    <div class="row justify-content-center mb-3 sm-mb-30px">
      <div class="col-lg-6 text-center"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-0">Our
          <span class="text-highlight">Portfolio<span class="bg-base-color opacity-3 h-10px bottom-10px"></span></span>
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 filter-content">
        <ul
          class="portfolio-creative portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
          <li class="grid-sizer"></li>
          <li class="grid-item grid-item-double selected digital transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #463e71">
                <img src="assets/images/portfolio/1.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Aadhirai"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Food and Beverage
                </span>
              </div>
            </div>
          </li>
          <li class="grid-item grid-item-double web digital transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #b15d3b">
                <img src="assets/images/portfolio/2.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Pramage"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Personal
                  Care and Hygiene </span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #df7554">
                <img src="assets/images/portfolio/3.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Protein Pro">
                </div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Consumer
                  Goods</span>
              </div>
            </div>
          </li>
          <li class="grid-item selected digital transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #8e4371">
                <img src="assets/images/portfolio/4.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Verdana">
                </div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Food
                  and Beverage
                </span>
              </div>
            </div>
          </li>
          <li class="grid-item grid-item-double web branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #47478e">
                <img src="assets/images/portfolio/5.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Zam Zam Sweets"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Food
                  and Beverage
                </span>
              </div>
            </div>
          </li>
          <li class="grid-item grid-item-double transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #4c8ba5">
                <img src="assets/images/portfolio/6.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Crown India"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Household
                  and Essentials
                </span>
              </div>
            </div>
          </li>
          <li class="grid-item selected digital transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #539868">
                <img src="assets/images/portfolio/7.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Little Deodrizer">
                </div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Home
                  Care and Cleaning Products</span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #ae5965">
                <img src="assets/images/portfolio/8.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Americano"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">Beverage
                  Industry
                </span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #539868">
                <img src="assets/images/portfolio/9.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Vital Bears"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Medical and Pharmaceutical Industry</span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #ae5965">
                <img src="assets/images/portfolio/10.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Dhrona">
                </div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Food and Beverage</span>
              </div>
            </div>
          </li>
          <li class="grid-item grid-item-double selected digital transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #463e71">
                <img src="assets/images/portfolio/11.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Gleevita"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Food and Beverage</span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #4c8ba5">
                <img src="assets/images/portfolio/12.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Karupatti House"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Food and Beverage</span>
              </div>
            </div>
          </li>
          <li class="grid-item selected branding transition-inner-all">
            <div class="portfolio-box">
              <div class="portfolio-image" style="background: #df7554">
                <img src="assets/images/portfolio/13.png" alt="" />
              </div>
              <div
                class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
                <div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white"
                  data-text="Kudu Kudu"></div>
                <span
                  class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">
                  Food and Beverage</span>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
<!-- portfolio section -->


<section class="position-relative overflow-hidden bg-dark-gray pb-70px pt-70px">
  <div class="container-fluid p-0"
    data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 100, "staggervalue": 200, "easing": "easeOutQuad" }'>
    <div class="row justify-content-center mb-3 sm-mb-30px">
      <div class="col-lg-6 text-center"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h2 class="fw-700 alt-font text-white ls-minus-1px mb-0">Industries
          <span class="text-highlight">we serve<span class="bg-base-color opacity-3 h-10px bottom-10px"></span></span>
        </h2>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-12 feature-box-slider">
        <div class="swiper"
          data-slider-options='{ "slidesPerView": "auto", "spaceBetween":30, "speed": 4500, "loop": true, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
          <div class="swiper-wrapper marquee-slide">
            <div class="swiper-slide">
              <div class="feature-box ">
                <img src="assets/images/icons/1.png" class="me-10px" style="width: 32px;">
                <span>Food and Beverage – Flexible Packaging </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/2.png" class="me-10px" style="width: 32px;">
                <span>Medical and Pharmaceutical Industry
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/3.png" class="me-10px" style="width: 32px;">
                <span>Home Care and Cleaning Products
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/4.png" class="me-10px" style="width: 32px;">
                <span>Automotive and Industrial Parts
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/5.png" class="me-10px" style="width: 32px;">
                <span>Stationery and Office Supplies
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/6.png" class="me-10px" style="width: 32px;">
                <span>Luxury & Premium Products
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/7.png" class="me-10px" style="width: 32px;">
                <span>Personal Care and Hygiene
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 feature-box-slider">
        <div class="swiper"
          data-slider-options='{ "slidesPerView": "auto", "spaceBetween":30, "speed": 4500, "loop": true, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
          <div class="swiper-wrapper marquee-slide">
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/8.png" class="me-10px" style="width: 32px;">
                <span>Household and Essentials
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/9.png" class="me-10px" style="width: 32px;">
                <span>Toys and Kids' Products
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/10.png" class="me-10px" style="width: 32px;">
                <span>Cosmetics Industry
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/11.png" class="me-10px" style="width: 32px;">
                <span>Beverage Industry
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/12.png" class="me-10px" style="width: 32px;">
                <span>Consumer Goods
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/13.png" class="me-10px" style="width: 32px;">
                <span>Cultural and Arts
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="feature-box">
                <img src="assets/images/icons/14.png" class="me-10px" style="width: 32px;">
                <span>Food Industry
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Industries Serve -->


<section class="pb-70px pt-70px">
  <div class="container-fluid">
    <div class="row justify-content-center mb-3 sm-mb-30px">
      <div class="col-lg-12 text-center mb-4"
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h2 class="fw-700 alt-font text-dark-gray ls-minus-1px mb-0">Stand Out,
          <span class="text-highlight">Sell More,<span
              class="bg-base-color opacity-3 h-10px bottom-10px"></span></span>Grow Faster!
        </h2>
      </div>
    </div>
    <div class="row position-relative clients-style-08"
      data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
      <div class="col swiper text-center"
        data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 6000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 6 }, "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 } }, "effect": "slide" }'>
        <div class="swiper-wrapper marquee-slide">
          <div class="swiper-slide">
            <img src="assets/images/clients/1.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/2.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/3.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/4.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/5.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/6.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/clients/7.png"
              class="box-shadow-extra-large border-radius-100px h-150px w-150px p-5px bg-white" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- clients -->


<section class="pb-0 position-relative pb-70px pt-70px">
  <div class="container-fluid">
    <div class="row justify-content-center lg-mx-0">
      <div class="col-xxl-10 col-xl-11 cover-background p-6 border-radius-10px"
        style="background-image: url(assets/images/testi-bg.jpg)">
        <div class="row align-items-center">
          <div class="col-xxl-3 col-xl-4 position-relative text-center text-xl-start"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div
              class="bg-white-transparent-very-light d-inline-block mb-20px fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12">
              Stories of Success
            </div>
            <h3 class="fw-600 text-white ls-minus-1px">Discover Why Brands Choose Us! </h3>
            <div class="d-flex lg-mb-35px justify-content-center justify-content-xl-start">
              <div
                class="slider-one-slide-prev-1 text-white swiper-button-prev slider-navigation-style-04 border border-2 border-color-transparent-white-light">
                <i class="feather icon-feather-arrow-left icon-small"></i>
              </div>
              <div
                class="slider-one-slide-next-1 text-white swiper-button-next slider-navigation-style-04 border border-2 border-color-transparent-white-light">
                <i class="feather icon-feather-arrow-right icon-small"></i>
              </div>
            </div>
          </div>
          <div class="col-xxl-9 col-xl-8 ps-6 lg-ps-15px position-relative"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="outside-box-right-20 sm-outside-box-right-0">
              <div class="swiper slider-one-slide"
                data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1400": { "slidesPerView": 3 }, "1200": { "slidesPerView": 2 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide review-style-07">
                    <div
                      class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xs-p-8 bg-oxford-blue">
                      <div class="mb-20px">
                        <img src="https://ik.imagekit.io/7vdby4475/images/test.png?updatedAt=1714458488235"
                          class="rounded-circle w-90px h-90px me-15px" alt="">
                        <div class="d-inline-block align-middle">
                          <div class="fw-600 fs-18 text-dark-gray">K.Karthik Raja.</div>
                        </div>
                      </div>
                      <p class="mb-15px">God Particles delivered exceptional package designs, keeping in mind our
                        brand’s identity and services. Throughout the process, the communication with their team was
                        effortless.</p>
                      <div class="d-flex align-items-center">
                        <div class="d-inline-block me-auto">
                          <div class="text-black float-start me-10px fw-500">5.0</div>
                          <div class="review-star-icon float-start">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide review-style-07">
                    <div
                      class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xs-p-8 bg-oxford-blue">
                      <div class="mb-20px">
                        <img src="https://ik.imagekit.io/7vdby4475/images/test.png?updatedAt=1714458488235"
                          class="rounded-circle w-90px h-90px me-15px" alt="">
                        <div class="d-inline-block align-middle">
                          <div class="fw-600 fs-18 text-dark-gray">Bala Murugan.</div>
                        </div>
                      </div>
                      <p class="mb-15px">The package design service was exceptional! They understood our brand’s needs
                        and created a stunning, functional design that our customers loved</p>
                      <div class="d-flex align-items-center">
                        <div class="d-inline-block me-auto">
                          <div class="text-black float-start me-10px fw-500">4.0</div>
                          <div class="review-star-icon float-start">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide review-style-07">
                    <div
                      class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xs-p-8 bg-oxford-blue">
                      <div class="mb-20px">
                        <img src="https://ik.imagekit.io/7vdby4475/images/test.png?updatedAt=1714458488235"
                          class="rounded-circle w-90px h-90px me-15px" alt="">
                        <div class="d-inline-block align-middle">
                          <div class="fw-600 fs-18 text-dark-gray">Maddee Hari.</div>
                        </div>
                      </div>
                      <p class="mb-15px">Impressive package design that tells a compelling story about our product.
                        Their team is flexible regarding changes provided by my team and me. Their focus on giving me a
                        better outcome is something I adore.</p>
                      <div class="d-flex align-items-center">
                        <div class="d-inline-block me-auto">
                          <div class="text-black float-start me-10px fw-500">4.0</div>
                          <div class="review-star-icon float-start">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide review-style-07">
                    <div
                      class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xs-p-8 bg-oxford-blue">
                      <div class="mb-20px">
                        <img src="https://ik.imagekit.io/7vdby4475/images/test.png?updatedAt=1714458488235"
                          class="rounded-circle w-90px h-90px me-15px" alt="">
                        <div class="d-inline-block align-middle">
                          <div class="fw-600 fs-18 text-dark-gray">David Raja.</div>
                        </div>
                      </div>
                      <p class="mb-15px">We approached them for a logo design for our new brand. They showed expertise
                        and attention to detail, delivering a stunning logo communicating our brand message.</p>
                      <div class="d-flex align-items-center">
                        <div class="d-inline-block me-auto">
                          <div class="text-black float-start me-10px fw-500">5.0</div>
                          <div class="review-star-icon float-start">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide review-style-07">
                    <div
                      class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xs-p-8 bg-oxford-blue">
                      <div class="mb-20px">
                        <img src="https://ik.imagekit.io/7vdby4475/images/test.png?updatedAt=1714458488235"
                          class="rounded-circle w-90px h-90px me-15px" alt="">
                        <div class="d-inline-block align-middle">
                          <div class="fw-600 fs-18 text-dark-gray">Sangeeth Krishnaswamy.</div>
                        </div>
                      </div>
                      <p class="mb-15px">God Particles has been an invaluable partner for our business. Their team is
                        knowledgeable and professional, and their services have helped us achieve our online marketing
                        goals.</p>
                      <div class="d-flex align-items-center">
                        <div class="d-inline-block me-auto">
                          <div class="text-black float-start me-10px fw-500">5.0</div>
                          <div class="review-star-icon float-start">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonials -->


<section id="contactform" class="cover-background big-section pb-70px pt-70px"
  style="background-image: url('assets/images/cta-bg-2.png')">
  <div class="container position-relative">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-6 col-lg-6 h-auto ">
        <h3 class="text-white fw-500 ls-minus-1px">Make Your Mark</h3>
        <p class="text-white fw-700 fs-20 opacity-7 w-70">We’ll create the design magic while you handle the printing
          and
          materials.</p>
        <div class="row row-cols-1 justify-content-center mt-30px">
          <h3 class="text-white fs-32 fw-500 ls-minus-1px">Reach out now!</h3>
          <div class="col icon-with-text-style-08">
            <div class="feature-box mb-4 feature-box-left-icon-middle overflow-hidden">
              <div class="feature-box-icon feature-box-icon-rounded bg-black w-60px h-60px rounded-circle me-20px">
                <i class="bi bi-whatsapp text-white icon-very-medium"></i>
              </div>
              <div class="feature-box-content last-paragraph-no-margin">
                <span class="text-white opacity-7 d-block">Chat with us</span>
                <span class="d-block fs-22 text-white"><a
                    href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                    target="_blank" class="text-white text-decoration-line-bottom">+91 99627 30810</a></span>
              </div>
            </div>
          </div>
          <div class="col icon-with-text-style-08">
            <div class="feature-box mb-4 feature-box-left-icon-middle overflow-hidden">
              <div class="feature-box-icon feature-box-icon-rounded bg-black w-60px h-60px rounded-circle me-20px">
                <i class="bi bi-envelope text-white icon-very-medium"></i>
              </div>
              <div class="feature-box-content last-paragraph-no-margin">
                <span class="text-white opacity-7 d-block">Email Us</span>
                <span class="d-block fs-22 text-dark-gray"><a href="mailto:sales@godparticles.in"
                    class="text-white text-decoration-line-bottom"> {{ emailContact }}
                  </a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 h-800px">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</section>
<!-- cta -->


<footer class="footer-demo bg-dark-slate-blue pt-40px"
  style="background-image: url(assets/images/footer-bg.png);padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 md-mb-30px text-center text-lg-start">
        <a href="/" class="footer-logo"><img src="assets/images/logo-white.png" data-at2x="assets/images/logo-white.png"
            alt="" class="w-300px"></a>
        <p class="text-white fs-15 xs-w-100 w-80">Every brand starts with a spark. At God Particles, we turn that spark
          into a captivating digital story. With strategic SEO, compelling content, and engaging social media, we blend
          creativity and expertise to deliver results. </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mbl-banner-text">
        <span class="alt-font fs-14 fw-600 text-uppercase text-white ls-1px d-block mb-10px">Contact</span>
        <i class="fa-solid fa-envelope me-10px text-white"></i><a href="mailto:{{emailContact}}" class="text-white"> {{
          emailContact }}
        </a><br>
        <i class="fa-solid fa-phone me-10px text-white"></i><a href="tel:9962730810" class="text-white">+91 99627
          30810</a>
        <span class="alt-font fs-14 fw-600 text-uppercase text-white ls-1px d-block mb-10px">Other Contact</span>
        <i class="fa-solid fa-phone me-10px text-white"></i><a href="tel:9962710810" class="text-white">+91 99627
          10810</a>

      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin">
        <span class="d-block text-white mb-10px fw-500 elements-social mbl-banner-text">Connect with us</span>
        <div class="elements-social social-icon-style-09">
          <ul class="medium-icon light">
            <li><a class="facebook" href="https://www.facebook.com/GodParticlesOfficial" target="_blank"><i
                  class="fa-brands fa-facebook-f"></i><span></span></a></li>
            <li><a class="instagram" href="https://www.instagram.com/godparticles_official/" target="_blank"><i
                  class="fa-brands fa-instagram"></i><span></span></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/god-particles/posts/?feedView=all"
                target="_blank"><i class="fa-brands fa-linkedin"></i><span></span></a></li>
            <li><a class="whatsapp"
                href="https://api.whatsapp.com/send/?phone=9962730810&text=Hello%2C+I+have+a+question+about+your+service.+Can+you+please+help+me%3F&type=phone_number&app_absent=0"
                target="_blank"><i class="fa-brands fa-whatsapp"></i><span></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-10px mb-10px bg-gradient-very-light-gray w-80 h-6px left-0px bottom-0px" style="margin: auto;"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="fs-18 text-white mt-10px mb-10px">&copy; 2024 God Particles. All Rights Reserverd</p>
      </div>
    </div>
  </div>
</footer>